@font-face {
	font-family: "Gilroy-Bold"; 

	src: url("Gilroy-Medium.ttf") format("truetype"); 
} 
*{
	margin: 0px;
	padding: 0px;
	
}

.container{
	display: flex;
	justify-content: center;
	justify-items: center;
	margin-top: 20px;
    font-family: "Gilroy-Bold";
}
.image_background{
	/* height: 481px; */
	width: 327px;
}
.nn{
	text-align: center;
	position: fixed;
	margin-top:5px;

}
.nick{
	color: #fff;
	font-size: 24px;
    color: #ffcc00;
}
.stats{
	position: absolute;
	margin-top: 40px;
	left: 590px;
    font-weight: 500;
    line-height: 20px;
}
.name{
	color: #fff;
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
}
.stats2{
	position: absolute;
	margin-top: 70px;
	left: 660px;
}
.job{
	text-align: right;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}

.cont {
    background-color: #999;
}

@media (max-width: 1920px){
	.container{
		margin-top: 250px;	
	}
	.stats{
		position: fixed;
		left: 820px;
		width: 300px;
		line-height: 20px;
	}
	.stats2{
		position: fixed;
		left: 660px;
	}
}

@media(max-width: 1366px){
    .nick {
        font-size: 17px;
    }
	.image_background{
		width: 277px;
	}
	.name{
		font-size: 12px;
	}
	.stats2 {
	    margin-top: 30px;
	}
	.job{
		font-size: 12px;
	}
	.stats{
		position: absolute;
		left: 555px;
		margin-top: 30px;
		line-height: 15px;
	}
}

@media (max-width: 1280px){
    .nick {
        font-size: 17px;
    }
	.image_background{
		width: 277px;
	}
	.name{
		font-size: 12px;
	}
	.stats2 {
	    margin-top: 30px;
	}
	.job{
		font-size: 12px;
	}
	.stats{
		position: absolute;
		left: 515px;
		margin-top: 30px;
		line-height: 18px;
	}
}